*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: auto;
    font-size: 16px;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 0 1.4rem;
}

header ul{
    list-style-type: none;
    display: flex;
    float: right;
}

header ul li{
    padding: 0 1rem;
}

header ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
}

header ul li a:hover{
    color: grey;
}

#logo{
    font-size: 1.7rem;
    margin-right: auto;
    letter-spacing: .1rem;
}

#about{
    position: relative;
    padding: 5.5rem 25rem;
    width: fit-content;
    text-align: center;
    background-color:#3250A5;
    color: white;
}

#about img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid white;
}

#about p{
    font-weight: 100;
}

#projects{
    padding-top: 3rem;
    text-align: center;
}

#project{
    display:inline-block;
    padding: 0.8rem;
}

#projects img{
    height: 13rem;
    width: 22.875rem;
}

#training{
    display: inline-block;
    position: relative;
    padding-top: 3rem;
    text-align: center;
    line-height: 1.6;
    padding: 0.8rem;
    left: 10rem;
}
#training ul{
    font-weight: 100;
    list-style-type: none;
}

#skills{
    display: inline-block;
    padding-top: 3rem;
    text-align: center;
    list-style-type: none;
    padding: 0.8rem;
}

#contact{
    padding-top: 3rem;
}