*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: auto;
    font-size: 16px;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 0 1.4rem;
}

header ul{
    list-style-type: none;
    display: flex;
    float: right;
}

header ul li{
    padding: 0 1rem;
}

header ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
}

header ul li a:hover{
    color: 121D3B;
    font-size: 1.1rem;
}

#logo{
    font-size: 1.7rem;
    margin-right: auto;
    letter-spacing: .1rem;
}

#about{
    position: relative;
    padding: 5.5rem 25rem;
    width: fit-content;
    text-align: center;
    background-color:#253C7A;
    color: white;
}

#about img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid white;
}

#about p{
    font-weight: 100;
}

#projects{
    padding-top: 3rem;
    text-align: center;
}

#project{
    display:inline-block;
    padding: 0.8rem;
}

#projects img{
    height: 13rem;
    width: 22.875rem;
}

#training{
    position: relative;
    margin-top: 2.5rem;
    padding-top: 3rem;
    text-align: center;
    line-height: 1.6;
    padding: 1.5rem;
    background-color:#3250A5;
    color: white;
}

#training ul{
    font-weight: 300;
    list-style-type: none;
}

#skills{
    padding-top: 3rem;
    text-align: center;
    list-style-type: none;
    padding: 2.5rem;
    font-weight:300;
    background-color:#3250A5;
    color: white;
}

#skills ul{
    list-style-type: square;
    -moz-column-gap: 0.8rem;
    -webkit-column-gap: 0.8rem;
    column-gap: 2.8rem;
    display: inline-flex;
    padding-left: 0;
}

#contact{
    text-align: center;
    position: relative;
}

#bg{
    width:100%;
    height: 105%;
    position: relative;
}

#contact ul{
    list-style-type: none;
    padding-inline-start: 0;
}

#contact-info{
    position: absolute;
    background-color:253C7A;
    top: 12rem;
    left: 32%;
    padding: 2rem 7rem;
    line-height: 1.6rem;
    color: white;
    font-size: large;
    letter-spacing: 0.1rem;
}
#contact-info ul{
    display: inline-flex;
}

#contact-info ul li{
    padding-right: 1rem;
}

#contact-info img{
    width: 70%;
}

#email-popup{
    position: absolute;
    background-color:253C7A;
    left: 37%;
    color: white;
    font-size: large;
    padding: 1.5rem 5rem;
    line-height: 1.3rem;
    top: 28rem;
    display: none;
}

footer{
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
    padding: 0.5rem 1.15rem;
    color: white;
    background-color:#3250A5;
}


/* Color palette: 
    3250A5
    253C7A
    4B7AFA
    121D3B
    436DE0
    */